/* Complete Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

body,
h1,
h2,
p {
    margin-block-end: 0;
}

body {
    min-height: 100vh;
    line-height: 1.5;
}

h1,
h2 {
    line-height: 1.1;
}

img {
    max-width: 100%;
    display: block;
}

button {
    font-family: inherit;
}

/* Global Changes w/ Root */
:root {
    /* Colors */
    --clr-green-500: hsl(158, 36%, 37%);
    --clr-green-700: hsl(158, 42%, 18%);
    --clr-black: hsl(212, 21%, 14%);
    --clr-grey: hsl(228, 12%, 48%);
    --clr-cream: hsl(30, 38%, 92%);
    --clr-white: hsl(0, 0%, 100%);

    /* Fonts */
    --FF-Monts: "Montserrat", sans-serif;
    --FF-Fraun: "Fraunces", serif;

    --FW-500: 500;
    --FW-700: 700;

    --FS-14: 0.9rem; /* 14px */
    --FS-16: 1rem;   /* 16px */
    --FS-24: 1.5rem; /* 24px */
}

/* Typography */
body {
    font-family: var(--FF-Monts);
    font-size: var(--FS-16);
    color: var(--clr-black);
}

.item-name,
.item-price-discount,
.item-price-original {
    font-family: var(--FF-Fraun);
}

.item-title {
    font-weight: var(--FW-500);
    letter-spacing: 5px;
    color: var(--clr-grey);
    font-size: var(--FS-14);
}

.item-desc {
    font-size: var(--FS-14);
}

.item-price-discount {
    color: var(--clr-green-500);
    font-weight: var(--FW-700);
    font-size: var(--FS-24);
}

.item-price-original {
    text-decoration: line-through;
    color: var(--clr-grey);
}

.addToCart-Btn {
    font-weight: var(--FW-700);
    color: var(--clr-white);
}

/* General -- Mobile View */
body {
    max-width: 375px;
    background-color: var(--clr-cream);
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-container {
    background-color: var(--clr-white);
    border-radius: 12px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    width: 350px;
}

.perfume-image {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.content-container {
    padding: 25px;
}

.item-title {
    margin-bottom: 10px;
}

.item-name {
    margin-bottom: 15px;
}

.item-desc {
    width: 95%;
    margin-bottom: 15px;
}

.price-container {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.item-price-discount {
    margin-right: 20px;
}

.addToCart-Btn {
    background-color: var(--clr-green-500);
    border: none;
    display: flex;
    padding: 15px;
    width: 95%;
    justify-content: center;
    border-radius: 12px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.addToCart-Btn:hover,
.addToCart-Btn:focus {
    background-color: var(--clr-green-700);
}

/* General -- Desktop View */
@media (min-width: 1024px) {
	body {
        max-width: 1024px;
    }

    .main-container {
        display: flex;
        width: 575px;
    }

    .perfume-image {
        max-width: 268px;
        border-top-left-radius: 12px;
        border-top-right-radius: 0;
        border-bottom-left-radius: 12px;
    }
}